<div class="min-h-screen bg-gray-950 text-white p-6">
  <h1 class="text-3xl font-bold text-yellow-400 mb-4">🚀 Star Wars Fleet</h1>

  <div *ngIf="isLoading" class="text-gray-400 text-lg">
    Chargement des vaisseaux...
  </div>

  <div *ngIf="errorMessage" class="text-red-400">
    {{ errorMessage }}
    <button class="ml-4 underline" (click)="ngOnInit()">Réessayer</button>
  </div>

  <app-starship-grid
    *ngIf="!isLoading && !errorMessage"
    [starships]="starships"
  >
  </app-starship-grid>
</div>
